:root {
  --pink-color: #ffbdc7;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  z-index: 3;
}

.modal-overlay.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-content {
  background: #2b2a2a;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
  transform: scale(0.7);
  animation: scaleIn 0.3s forwards;
  z-index: 4;
}

.modal-content.fade-out {
  animation: scaleOut 0.3s forwards;
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

.modal-content h2 {
  color: var(--pink-color);
  font-size: 2em;
}

.modal-input,
.modal-textarea {
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: white;
  outline: none;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: #999;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.modal-buttons button {
  margin: 10px;
}

.modal-textarea {
  resize: none;
}
